:root{
    --white: #ffffff;
    --offwhite: #ECECEA;
    --black: #14161C;
    --blue: #0000EE;
    --green: #0D8A4E;
    --highlight: #EBFC72;
    --yellow: #FFF620;
    --red: #FF5C00;
    --pink: #FC72CA;
}