:root {
    --title-font: "alpina-thin", serif;
    --h4-font: "alpina-regular", serif;
    --text-font:"neue-haas-unica", sans-serif;
}

@font-face{
    font-family:"alpina-regular";
    font-style:normal;
    font-weight:300;
    src: url('../fonts/GT-Alpina-Condensed-Regular-Trial.eot');
	src: url('../fonts/GT-Alpina-Condensed-Regular-Trial.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/GT-Alpina-Condensed-Regular-Trial.woff2') format('woff2'), 
		 url('../fonts/GT-Alpina-Condensed-Regular-Trial.woff') format('woff'),
		 url('../fonts/GT-Alpina-Condensed-Regular-Trial.ttf') format('truetype');
}

@font-face{
    font-family:"alpina-thin";
    font-style:normal;
    font-weight:300;
    src: url('../fonts/GT-Alpina-Condensed-Thin-Trial.eot');
	src: url('../fonts/GT-Alpina-Condensed-Thin-Trial.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/GT-Alpina-Condensed-Thin-Trial.woff2') format('woff2'), 
		 url('../fonts/GT-Alpina-Condensed-Thin-Trial.woff') format('woff'),
		 url('../fonts/GT-Alpina-Condensed-Thin-Trial.ttf') format('truetype');
}



@font-face{
    font-family:"sohne-buch";
    font-style:normal;
    font-weight:300;
    src: url('../fonts/sohne/TestSöhne-Buch.eot');
	src: url('../fonts/sohne/TestSöhne-Buch.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/sohne/TestSöhne-Buch.woff2') format('woff2'), 
		 url('../fonts/sohne/TestSöhne-Buch.woff') format('woff'),
		 url('../fonts/sohne/TestSöhne-Buch.ttf') format('truetype');
}

@font-face{
    font-family:"sohne-kraftig";
    font-style:bold;
    font-weight:500;
    src: url('../fonts/sohne/TestSöhne-Kräftig.eot');
	src: url('../fonts/sohne/TestSöhne-Kräftig.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/sohne/TestSöhne-Kräftig.woff2') format('woff2'), 
		 url('../fonts/sohne/TestSöhne-Kräftig.woff') format('woff'),
		 url('../fonts/sohne/TestSöhne-Kräftig.ttf') format('truetype');
}

@font-face{
    font-family:"sohne-leicht";
    font-style:normal;
    font-weight:300;
    src: url('../fonts/sohne/TestSöhne-Leicht.eot');
	src: url('../fonts/sohne/TestSöhne-Leicht.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/sohne/TestSöhne-Leicht.woff2') format('woff2'), 
		 url('../fonts/sohne/TestSöhne-Leicht.woff') format('woff'),
		 url('../fonts/sohne/TestSöhne-Leicht.ttf') format('truetype');
}