@import 'util/functions.scss';

.global-container {
    margin: rem(10);
    // border:red 1px solid;
}

/* header bar */
.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // border:yellowgreen 1px solid;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-date {
    width: 105px;
    // border:plum 1px solid;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    // border:plum 1px solid;
    width: 105px;
}

/* title page */
.home-landing {
    height: 97vh;
    // border:orange 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}


/* site content nav */

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    // border: solid aqua 1px;
    margin: 5rem 0 10rem 0;
}

.home-projects {
    width: 60vw;
    // border: solid pink 1px;
    max-width: rem(900);
    display: flex;
    gap: 5vw;
}

.home-project-section {
    width: 25vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    // border: solid green 1px;
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    // border: 1px solid blue;
    max-width: rem(350);
    min-width: rem(200);
}

.home-about {
    width: 60vw;
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: rem(900);
}

.site-title-box {
    // border: 1px solid pink;
    height: 65vh;
    // width:50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

//title and gif are inside this
.scrolldown-box {
    display: flex;
    flex-direction: column;
    // border: 1px solid cyan;
    align-items: center;
    // gap:0.25rem;
}

//PARRALAX SCROLL
.titlegif {
    // border: solid brown 1px;
    max-width: rem(400);
    position:relative;
    top: -225px;
    // top:-286px;
    left: -100px;
    // border: cyan 1px solid;
    z-index:1;
}

#o-scrollup{
    // position:relative;
    // top: -61px;
    // left: -94px;
    opacity:0;
}


//parrallax scroll (pls bby) (put this in another file when done?)
#scrolling-text{
    // position:fixed;
    // bottom: 53vh;
    // left: 45vw;

    // border: orange 1px solid;
}

//relative to this
.title-scrollup{
    // border: red 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height:rem(80);
    z-index:2;
}

// .o-scrollup{
//     opacity:0;
// }



/* project pages */


//footer more projects
.footer-container {
    width: 60vw;
    // border: solid pink 1px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.footer-more-projects {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    // border: solid orange 1px;
}

.header-title-box {
    // border: 1px solid tomato;
}

.proj-header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* project title and description */
.project-intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

//summary bullets
.project-summary {
        // border: 1px solid blue;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0 2rem 0;
    max-width: rem(600);
}

.project-summary-chunk{
    // border: 1px solid orange;
    display: flex;
    flex-direction:row;
    gap:1rem;
}

.project-summary-chunk-title{
        // border: 1px solid yellow;
        display:flex;
}

.bold-p-small{
    // border: red solid 1px;
    width: rem(140);
}

.project-summary-chunk-text{
    // border: 1px solid pink;
    display:flex;
}

/* title and text */
.project-chunk {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    // border: 1px solid blue;
    // max-width: rem(600);
}

img {
    // width: 60vw;
    width:100%;
    max-width: 100%;
    border-radius: 8px;
    // max-width: rem(600);
}

.image-box {
    display: flex;
    flex-direction: column;
    // align-items:flex-end;
    align-items: center;
}

.video-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
}

// change theme colours
.colours-container {
    display: flex;
    flex-direction: column;
    gap: rem(5);
    position: fixed;
    top: 40vh;
    left: 19px;
}

// close button on project pages
.x-container {
    position: fixed;
    top: rem(90);
    right: rem(80);
    width: rem(60);
}


//breakpoint less than 900px (mobile)
@media screen and (max-width:900px) {

    //home projects to one column
    .home-projects {
        width: 60vw;
        // border: solid yellow 1px;
        max-width: rem(900);
        display: flex;
        gap: 5vw;
        flex-direction: column;

        //remove to uncenter
        // align-items:center;
    }

    .home-project-section {
        width: 60vw;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        // border: solid orange 1px;

        //remove to uncenter
        // max-width:rem(350);
    }

    .project-card {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 0.5rem;
        // border: 1px solid red;
        max-width: rem(350);
        min-width: rem(200);
    }


    //footer projects to one column
    //footer more projects
    .footer-container {
        width: 60vw;
        // border: solid pink 1px;
        display: flex;
        gap: 2rem;
        flex-direction: column;
    }

    .footer-more-projects {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        // border: solid orange 1px;
    }

    .project-summary-chunk{
        // border: 1px solid orange;
        display: flex;
        flex-direction:column;
        gap:1rem;
    }

    img {
        width: 80vw;
        // width:100%;
        // max-width: 100%;
        border-radius: 8px;
        // max-width: rem(600);
    }
    
}