@import 'util/functions.scss';
@import 'fonts.scss';
@import 'colours.scss';

// themes

.light {
    background-color: var(--offwhite);

    h1 {
        color: var(--black);
    }

    h2 {
        color: var(--black);
    }

    h3 {
        color: var(--black);
    }

    h4 {
        color: var(--black);
    }

    p {
        color: var(--black);
    }

    a {
        color: var(--black);
    }
    .project-link:hover,
    .project-link:focus,
    .title-link:hover,
    .title-link:focus {
        color: var(--blue);
    }
    .nav-link {
        color: var(--blue);
    }
    figcaption{
        color: var(--black);
    }
}

.dark {
    background-color: var(--black);

    h1 {
        color: var(--offwhite);
    }

    h2 {
        color: var(--offwhite);
    }

    h3 {
        color: var(--offwhite);
    }

    h4 {
        color: var(--offwhite);
    }

    p {
        color: var(--offwhite);
    }

    a {
        color: var(--offwhite);
    }

    .project-link:hover,
    .project-link:focus,
    .title-link:hover,
    .title-link:focus {
        color: var(--red);
    }
    .nav-link {
        color: var(--red);
    }
    figcaption{
        color: var(--offwhite);
    }
}

.red {
    background-color: var(--red);

    h1 {
        color: var(--offwhite);
    }

    h2 {
        color: var(--offwhite);
    }

    h3 {
        color: var(--offwhite);
    }

    h4 {
        color: var(--offwhite);
    }

    p {
        color: var(--offwhite);
    }

    a {
        color: var(--offwhite);
    }

    .project-link:hover,
    .project-link:focus,
    .title-link:hover,
    .title-link:focus {
        color: var(--blue);
    }
    .nav-link {
        color: var(--blue);
    }
    figcaption{
        color: var(--offwhite);
    }
}

.green {
    background-color: var(--green);

    h1 {
        color: var(--offwhite);
    }

    h2 {
        color: var(--offwhite);
    }

    h3 {
        color: var(--offwhite);
    }

    h4 {
        color: var(--offwhite);
    }

    p {
        color: var(--offwhite);
    }

    a {
        color: var(--offwhite);
    }

    .project-link:hover,
    .project-link:focus,
    .title-link:hover,
    .title-link:focus {
        color: var(--red);
    }
    .nav-link {
        color: var(--red);
    }
    figcaption{
        color: var(--offwhite);
    }
}

.blue {
    background-color: var(--blue);

    h1 {
        color: var(--offwhite);
    }

    h2 {
        color: var(--offwhite);
    }

    h3 {
        color: var(--offwhite);
    }

    h4 {
        color: var(--offwhite);
    }

    p {
        color: var(--offwhite);
    }

    a {
        color: var(--offwhite);
    }

    .project-link:hover,
    .project-link:focus,
    .title-link:hover,
    .title-link:focus {
        color: var(--red);
    }
    .nav-link {
        color: var(--red);
    }
    figcaption{
        color: var(--offwhite);
    }
}

.yellow {
    background-color: var(--black);

    h1 {
        color: var(--offwhite);
    }

    h2 {
        color: var(--offwhite);
    }

    h3 {
        color: var(--offwhite);
    }

    h4 {
        color: var(--offwhite);
    }

    p {
        color: var(--offwhite);
    }

    a {
        color: var(--offwhite);
    }

    .project-link:hover,
    .project-link:focus,
    .title-link:hover,
    .title-link:focus {
        color: var(--red);
    }
    .nav-link {
        color: var(--red);
    }
    figcaption{
        color: var(--offwhite);
    }
}

// .yellow {
//     background-color: var(--black);

//     h1 {
//         color: var(--black);
//     }

//     h2 {
//         color: var(--black);
//     }

//     h3 {
//         color: var(--black);
//     }

//     h4 {
//         color: var(--black);
//     }

//     p {
//         color: var(--black);
//     }

//     a {
//         color: var(--black);
//     }

//     .project-link:hover,
//     .project-link:focus,
//     .title-link:hover,
//     .title-link:focus {
//         color: var(--blue);
//     }
//     .nav-link {
//         color: var(--blue);
//     }
//     figcaption{
//         color: var(--black);
//     }
// }

.pink {
    background-color: var(--pink);

    h1 {
        color: var(--offwhite);
    }

    h2 {
        color: var(--offwhite);
    }

    h3 {
        color: var(--offwhite);
    }

    h4 {
        color: var(--offwhite);
    }

    p {
        color: var(--offwhite);
    }

    a {
        color: var(--offwhite);
    }

    .project-link:hover,
    .project-link:focus,
    .title-link:hover,
    .title-link:focus {
        color: var(--blue);
    }
    .nav-link {
        color: var(--blue);
    }
    figcaption{
        color: var(--offwhite);
    }
}


// body {
//     background-color: var(--offwhite);
//     cursor: url('img/cursor.png'), auto;
// }

h1 {
    margin: 0;
    padding: 0;
    font-family: "alpina-thin", serif;
    // font-size: rem(48);
    font-size: rem(64);
    // letter-spacing: -4px;
    letter-spacing: -5px;
    font-weight: normal;
    font-style: normal;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 400;
    font-size: rem(16);
    letter-spacing: -0.5px;
    line-height: 100%;
    font-style: normal;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 500;
    font-size: rem(24);
    letter-spacing: -0.5px;
    line-height: 100%;
    font-style: normal;
}

h4 {
    margin: 0;
    padding: 0;
    // font-family: "alpina-regular", serif;
    font-family: "neue-haas-unica", sans-serif;
    font-size: rem(16);
    letter-spacing: -1px;
    // font-size: rem(26);
    // letter-spacing: -1.5px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.p-smallest {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-size: rem(12);
    letter-spacing: -0.25px;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
}

.p-small {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-size: rem(16);
    letter-spacing: -0.25px;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
}

.bold-p-small {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-size: rem(18);
    letter-spacing: -0.25px;
    line-height: 130%;
    font-weight: 600;
    font-style: normal;
}

.p-large {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-size: rem(32);
    letter-spacing: -0.5px;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
}

.p-medium {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-size: rem(24);
    font-weight: 400;
    letter-spacing: -0.25px;
    line-height: 130%;
    font-style: normal;
}

ul {}

li {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 500;
    font-size: rem(24);
    letter-spacing: -0.1px;
    line-height: 120%;
    font-style: normal;
}

strong {
    margin: 0;
    padding: 0;
    font-family: "alpina-thin", serif;
    font-size: rem(40);
    letter-spacing: -1.5px;
    font-style: normal;
    font-weight: 200;
    text-decoration: none;
}

em {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-size: rem(32);
    letter-spacing: -0.5px;
    line-height: 130%;
    font-weight: 600;
    font-style: normal;
}

// /* navigation links */
// .nav-link{
//     margin:0;
//     padding:0;
//     font-family: "alpina-regular", serif;
//     font-size: rem(26);
//     letter-spacing: -2px;
//     font-style: normal;
//     font-weight: 200;
//     text-decoration: none;
//     color: #0000EE;
//     transition: color ease-in-out 0.3s;
// }

// /* project titles */
// .project-link{
//     margin:0;
//     padding:0;
//     font-family: "neue-haas-unica", sans-serif;
//     font-weight: 500;
//     font-size: rem(24);
//     letter-spacing: -0.5px;
//     line-height:100%;
//     font-style: normal;
//     text-decoration:none;
//     color: var(--black);
//     transition: color ease-in-out 0.3s;
// }

/* navigation links */
.nav-link {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-size: rem(16);
    letter-spacing: -1px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: var(--blue);
    // transition: color ease-in-out 0.3s;
    // transition: color ease-in-out 0.15s;
}

/* project titles */
.project-link {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 500;
    font-size: rem(24);
    letter-spacing: -0.5px;
    line-height: 100%;
    font-style: normal;
    text-decoration: none;
    color: var(--black);
    // transition: color ease-in-out 0.3s;
}

/* site title link */
.title-link {
    margin: 0;
    padding: 0;
    font-family: "alpina-thin", serif;
    font-size: rem(32);
    letter-spacing: -2px;
    font-weight: normal;
    font-style: normal;
    color: var(--black);
    text-decoration: none;
    // transition: color ease-in-out 0.3s;
}

.project-link:hover,
.project-link:focus,
.title-link:hover,
.title-link:focus {
    // color: #4E55EF;
    color: var(--blue);
}

.project-link:visited,
.nav-link:visited {
    // color: #AF77F5;
    // color: #551A8B;
}

.scrolldown-icon {
    width: rem(40);
}

/* project preview images */

/* hidden when not hovering */
.preview-img {
    position: absolute;
    display: none;
    width: rem(100);
}

#betweendreams-img {
    width: rem(200);
}

#mytakeaway-img {
    width: rem(150);
}

#viavia-img {
    width: rem(160);
}

#dc-img{
    width: rem(150);
}

#sap-img{
    width: rem(100);
    margin:0;
    border-radius:0;
}


/* highlight colour */
/* selection colour */

@mixin background-colour {
    // background-color: var(--background-color);
    background-color: var(--pink);
}

p::selection {
    @include background-colour;
}

em::selection {
    @include background-colour;
}

strong::selection {
    @include background-colour;
}

code::selection {
    @include background-colour;
}

h1::selection {
    @include background-colour;
}

h2::selection {
    @include background-colour;
}

h3::selection {
    @include background-colour;
}

h4::selection {
    @include background-colour;
}

h5::selection {
    @include background-colour;
}

a::selection {
    @include background-colour;
}

ul::selection {
    @include background-colour;
}

ol::selection {
    @include background-colour;
}

li::selection {
    @include background-colour;
}

img::selection {
    @include background-colour;
}

figcaption::selection {
    @include background-colour;
}

span::selection {
    @include background-colour;
}



/* cursor */
    // #cursor {
    //     width: rem(30);
    //     height: rem(30);
    //     border-radius: 100%;
    //     transition: all 200ms ease-out;
    //     position: fixed;
    //     pointer-events: none;
    //     left: 0;
    //     top: 0;
    //     transform: translate(calc(-50% + 15px), -50%);
    //     mix-blend-mode: saturation;
    //     background-color: var(--yellow);
    //     z-index: 500;
    // }


.selected-border{
    border: 1px solid var(--black);
}

.border{
    border: 1px solid var(--white);
}

.white-button{
    width: rem(10);
    height: rem(10);
    border-radius: 100%;
    background-color: var(--offwhite);
}

.red-button{
    width: rem(10);
    height: rem(10);
    border-radius: 100%;
    background-color: var(--red);
}

.blue-button{
    width: rem(10);
    height: rem(10);
    border-radius: 100%;
    background-color: var(--blue);
}

.yellow-button{
    width: rem(10);
    height: rem(10);
    border-radius: 100%;
    background-color: var(--black);
}

.pink-button{
    width: rem(10);
    height: rem(10);
    border-radius: 100%;
    background-color: var(--pink);
}

.green-button{
    width: rem(10);
    height: rem(10);
    border-radius: 100%;
    background-color: var(--green);
}

iframe {
    border-radius: 8px;
    border: black 1px solid;
    margin-bottom:rem(10);
}

img{
    margin-bottom:rem(10);
}