:root {
  --title-font: "alpina-thin", serif;
  --h4-font: "alpina-regular", serif;
  --text-font:"neue-haas-unica", sans-serif;
}

@font-face {
  font-family: "alpina-regular";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/GT-Alpina-Condensed-Regular-Trial.eot");
  src: url("../fonts/GT-Alpina-Condensed-Regular-Trial.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Alpina-Condensed-Regular-Trial.woff2") format("woff2"), url("../fonts/GT-Alpina-Condensed-Regular-Trial.woff") format("woff"), url("../fonts/GT-Alpina-Condensed-Regular-Trial.ttf") format("truetype");
}
@font-face {
  font-family: "alpina-thin";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/GT-Alpina-Condensed-Thin-Trial.eot");
  src: url("../fonts/GT-Alpina-Condensed-Thin-Trial.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Alpina-Condensed-Thin-Trial.woff2") format("woff2"), url("../fonts/GT-Alpina-Condensed-Thin-Trial.woff") format("woff"), url("../fonts/GT-Alpina-Condensed-Thin-Trial.ttf") format("truetype");
}
@font-face {
  font-family: "sohne-buch";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/sohne/TestSohne-Buch.eot");
  src: url("../fonts/sohne/TestSohne-Buch.eot?#iefix") format("embedded-opentype"), url("../fonts/sohne/TestSohne-Buch.woff2") format("woff2"), url("../fonts/sohne/TestSohne-Buch.woff") format("woff"), url("../fonts/sohne/TestSohne-Buch.ttf") format("truetype");
}
@font-face {
  font-family: "sohne-kraftig";
  font-style: bold;
  font-weight: 500;
  src: url("../fonts/sohne/TestSohne-Kraftig.eot");
  src: url("../fonts/sohne/TestSohne-Kraftig.eot?#iefix") format("embedded-opentype"), url("../fonts/sohne/TestSohne-Kraftig.woff2") format("woff2"), url("../fonts/sohne/TestSohne-Kraftig.woff") format("woff"), url("../fonts/sohne/TestSohne-Kraftig.ttf") format("truetype");
}
@font-face {
  font-family: "sohne-leicht";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/sohne/TestSohne-Leicht.eot");
  src: url("../fonts/sohne/TestSohne-Leicht.eot?#iefix") format("embedded-opentype"), url("../fonts/sohne/TestSohne-Leicht.woff2") format("woff2"), url("../fonts/sohne/TestSohne-Leicht.woff") format("woff"), url("../fonts/sohne/TestSohne-Leicht.ttf") format("truetype");
}
:root {
  --white: #ffffff;
  --offwhite: #FCFAF7;
  --black: #14161C;
  --blue: #0000EE;
  --green: #0D8A4E;
  --highlight: #EBFC72;
  --yellow: #FFF620;
  --red: #FF5C00;
  --pink: #FC72CA;
  --purple: #6D09AB;
}

.title-bar {
  position: fixed;
  width: 65vw;
  height: 3.4375rem;
  top: 0;
  left: 50vw;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.light {
  background-color: var(--offwhite);
}
.light .title-bar {
  background-color: var(--offwhite);
}
.light .header-bar {
  background-color: var(--offwhite);
}
.light h1 {
  color: var(--black);
}
.light h2 {
  color: var(--black);
}
.light h3 {
  color: var(--black);
}
.light h4 {
  color: var(--black);
}
.light p {
  color: var(--black);
}
.light li {
  color: var(--black);
}
.light a {
  color: var(--black);
}
.light .project-card:hover,
.light .project-card:focus,
.light .title-card:hover,
.light .title-card:focus {
  cursor: pointer;
}
.light .project-card:hover a,
.light .project-card:focus a,
.light .title-card:hover a,
.light .title-card:focus a {
  color: var(--blue);
}
.light .project-card:hover p,
.light .project-card:focus p,
.light .title-card:hover p,
.light .title-card:focus p {
  color: var(--blue);
}
.light .nav-link {
  color: var(--blue);
}
.light figcaption {
  color: var(--black);
}

.dark {
  background-color: var(--black);
}
.dark .title-bar {
  background-color: var(--black);
}
.dark .header-bar {
  background-color: var(--black);
}
.dark h1 {
  color: var(--offwhite);
}
.dark h2 {
  color: var(--offwhite);
}
.dark h3 {
  color: var(--offwhite);
}
.dark h4 {
  color: var(--offwhite);
}
.dark p {
  color: var(--offwhite);
}
.dark li {
  color: var(--offwhite);
}
.dark a {
  color: var(--offwhite);
}
.dark .project-card:hover,
.dark .project-card:focus,
.dark .title-card:hover,
.dark .title-card:focus {
  cursor: pointer;
}
.dark .project-card:hover a,
.dark .project-card:focus a,
.dark .title-card:hover a,
.dark .title-card:focus a {
  color: var(--red);
}
.dark .project-card:hover p,
.dark .project-card:focus p,
.dark .title-card:hover p,
.dark .title-card:focus p {
  color: var(--red);
}
.dark .nav-link {
  color: var(--red);
}
.dark figcaption {
  color: var(--offwhite);
}

.red {
  background-color: var(--red);
}
.red .title-bar {
  background-color: var(--red);
}
.red .header-bar {
  background-color: var(--red);
}
.red h1 {
  color: var(--offwhite);
}
.red h2 {
  color: var(--offwhite);
}
.red h3 {
  color: var(--offwhite);
}
.red h4 {
  color: var(--offwhite);
}
.red li {
  color: var(--offwhite);
}
.red p {
  color: var(--offwhite);
}
.red a {
  color: var(--offwhite);
}
.red .project-card:hover,
.red .project-card:focus,
.red .title-card:hover,
.red .title-card:focus {
  cursor: pointer;
}
.red .project-card:hover a,
.red .project-card:focus a,
.red .title-card:hover a,
.red .title-card:focus a {
  color: var(--blue);
}
.red .project-card:hover p,
.red .project-card:focus p,
.red .title-card:hover p,
.red .title-card:focus p {
  color: var(--blue);
}
.red .nav-link {
  color: var(--blue);
}
.red figcaption {
  color: var(--offwhite);
}

.green {
  background-color: var(--green);
}
.green .title-bar {
  background-color: var(--green);
}
.green .header-bar {
  background-color: var(--green);
}
.green h1 {
  color: var(--offwhite);
}
.green h2 {
  color: var(--offwhite);
}
.green h3 {
  color: var(--offwhite);
}
.green h4 {
  color: var(--offwhite);
}
.green li {
  color: var(--offwhite);
}
.green p {
  color: var(--offwhite);
}
.green a {
  color: var(--offwhite);
}
.green .project-card:hover,
.green .project-card:focus,
.green .title-card:hover,
.green .title-card:focus {
  cursor: pointer;
}
.green .project-card:hover a,
.green .project-card:focus a,
.green .title-card:hover a,
.green .title-card:focus a {
  color: var(--red);
}
.green .project-card:hover p,
.green .project-card:focus p,
.green .title-card:hover p,
.green .title-card:focus p {
  color: var(--red);
}
.green .nav-link {
  color: var(--red);
}
.green figcaption {
  color: var(--offwhite);
}

.blue {
  background-color: var(--blue);
}
.blue .title-bar {
  background-color: var(--blue);
}
.blue .header-bar {
  background-color: var(--blue);
}
.blue h1 {
  color: var(--offwhite);
}
.blue h2 {
  color: var(--offwhite);
}
.blue h3 {
  color: var(--offwhite);
}
.blue h4 {
  color: var(--offwhite);
}
.blue li {
  color: var(--offwhite);
}
.blue p {
  color: var(--offwhite);
}
.blue a {
  color: var(--offwhite);
}
.blue .project-card:hover,
.blue .project-card:focus,
.blue .title-card:hover,
.blue .title-card:focus {
  cursor: pointer;
}
.blue .project-card:hover a,
.blue .project-card:focus a,
.blue .title-card:hover a,
.blue .title-card:focus a {
  color: var(--red);
}
.blue .project-card:hover p,
.blue .project-card:focus p,
.blue .title-card:hover p,
.blue .title-card:focus p {
  color: var(--red);
}
.blue .nav-link {
  color: var(--red);
}
.blue figcaption {
  color: var(--offwhite);
}

.yellow {
  background-color: var(--black);
}
.yellow .title-bar {
  background-color: var(--black);
}
.yellow .header-bar {
  background-color: var(--black);
}
.yellow h1 {
  color: var(--offwhite);
}
.yellow h2 {
  color: var(--offwhite);
}
.yellow h3 {
  color: var(--offwhite);
}
.yellow h4 {
  color: var(--offwhite);
}
.yellow li {
  color: var(--offwhite);
}
.yellow p {
  color: var(--offwhite);
}
.yellow a {
  color: var(--offwhite);
}
.yellow .project-card:hover,
.yellow .project-card:focus,
.yellow .title-card:hover,
.yellow .title-card:focus {
  cursor: pointer;
}
.yellow .project-card:hover a,
.yellow .project-card:focus a,
.yellow .title-card:hover a,
.yellow .title-card:focus a {
  color: var(--red);
}
.yellow .project-card:hover p,
.yellow .project-card:focus p,
.yellow .title-card:hover p,
.yellow .title-card:focus p {
  color: var(--red);
}
.yellow .nav-link {
  color: var(--red);
}
.yellow figcaption {
  color: var(--offwhite);
}

.pink {
  background-color: var(--pink);
}
.pink .title-bar {
  background-color: var(--pink);
}
.pink .header-bar {
  background-color: var(--pink);
}
.pink h1 {
  color: var(--offwhite);
}
.pink h2 {
  color: var(--offwhite);
}
.pink h3 {
  color: var(--offwhite);
}
.pink h4 {
  color: var(--offwhite);
}
.pink li {
  color: var(--offwhite);
}
.pink p {
  color: var(--offwhite);
}
.pink a {
  color: var(--offwhite);
}
.pink .project-card:hover,
.pink .project-card:focus,
.pink .title-card:hover,
.pink .title-card:focus {
  cursor: pointer;
}
.pink .project-card:hover a,
.pink .project-card:focus a,
.pink .title-card:hover a,
.pink .title-card:focus a {
  color: var(--blue);
}
.pink .project-card:hover p,
.pink .project-card:focus p,
.pink .title-card:hover p,
.pink .title-card:focus p {
  color: var(--blue);
}
.pink .nav-link {
  color: var(--blue);
}
.pink figcaption {
  color: var(--offwhite);
}

#scrolling-text {
  margin: 0;
  padding: 0;
  font-family: "alpina-thin", serif;
  font-size: 3.4375rem;
  letter-spacing: -5px;
  font-weight: normal;
  font-style: normal;
}

b {
  font-weight: 600;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "sohne-kraftig", sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
  letter-spacing: -0.5px;
  line-height: 100%;
  font-style: normal;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "sohne-buch", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 200%;
  font-style: normal;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: "sohne-buch", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 150%;
  font-style: normal;
}

h4 {
  margin: 0;
  padding: 0;
  font-family: "sohne-buch", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  line-height: 150%;
}

.p-smallest {
  margin: 0;
  padding: 0;
  font-family: "sohne-buch", sans-serif;
  font-size: 0.75rem;
  line-height: 150%;
  font-weight: 300;
  letter-spacing: 0px;
  font-style: normal;
  opacity: 55%;
}

.p-small {
  margin: 0;
  padding: 0;
  font-family: "sohne-leicht", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  font-weight: 300;
  font-style: normal;
  opacity: 55%;
  margin-bottom: 0.5rem;
}

.bold-p-small {
  margin: 0;
  padding: 0;
  font-family: "sohne-kraftig", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  font-weight: 500;
  font-style: bold;
}

.p-large {
  margin: 0;
  padding: 0;
  font-family: "sohne-leicht", sans-serif;
  font-size: 2rem;
  line-height: 130%;
  font-style: normal;
  font-weight: 400;
}

.p-medium {
  margin: 0;
  padding: 0;
  font-family: "sohne-leicht", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 130%;
  font-style: normal;
  opacity: 55%;
}

li {
  margin: 0;
  padding: 0;
  font-family: "sohne-leicht", sans-serif;
  font-size: 1rem;
  line-height: 150%;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 0.5rem;
  opacity: 55%;
}

strong {
  margin: 0;
  padding: 0;
  font-family: "alpina-thin", serif;
  font-size: 2.5rem;
  letter-spacing: -1.5px;
  font-style: normal;
  font-weight: 200;
  text-decoration: none;
}

em {
  margin: 0;
  padding: 0;
  font-family: "sohne-buch", sans-serif;
  font-size: 2rem;
  letter-spacing: -0.5px;
  line-height: 130%;
  font-weight: 500;
  font-style: normal;
}

/* navigation links */
.nav-link {
  margin: 0;
  padding: 0;
  font-family: "sohne-buch", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: var(--blue);
}

/* project titles */
.project-link {
  margin: 0;
  padding: 0;
  font-family: "sohne-kraftig", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: var(--blue);
}

/* site title link */
.title-link {
  margin: 0;
  padding: 0;
  font-family: "alpina-thin", serif;
  font-size: 2rem;
  letter-spacing: -2px;
  font-weight: normal;
  font-style: normal;
  color: var(--black);
  text-decoration: none;
}

.scrolldown-icon {
  width: 2.5rem;
}

/* project preview images */
/* hidden when not hovering */
.preview-img {
  position: absolute;
  display: none;
  width: 6.25rem;
}

#betweendreams-img {
  width: 12.5rem;
}

#mytakeaway-img {
  width: 8.75rem;
}

#viavia-img {
  width: 12.5rem;
}

#dc-img {
  width: 9.375rem;
}

#mbintp-img {
  width: 6.25rem;
}

#this-img {
  width: 8.125rem;
}

#sapresearch-img {
  width: 9.375rem;
}

#sapua-img {
  width: 9.375rem;
}

#olivia-img {
  width: 9.375rem;
}

/* highlight colour */
/* selection colour */
p::-moz-selection {
  background-color: var(--pink);
}
p::selection {
  background-color: var(--pink);
}

em::-moz-selection {
  background-color: var(--pink);
}

em::selection {
  background-color: var(--pink);
}

strong::-moz-selection {
  background-color: var(--pink);
}

strong::selection {
  background-color: var(--pink);
}

code::-moz-selection {
  background-color: var(--pink);
}

code::selection {
  background-color: var(--pink);
}

h1::-moz-selection {
  background-color: var(--pink);
}

h1::selection {
  background-color: var(--pink);
}

h2::-moz-selection {
  background-color: var(--pink);
}

h2::selection {
  background-color: var(--pink);
}

h3::-moz-selection {
  background-color: var(--pink);
}

h3::selection {
  background-color: var(--pink);
}

h4::-moz-selection {
  background-color: var(--pink);
}

h4::selection {
  background-color: var(--pink);
}

h5::-moz-selection {
  background-color: var(--pink);
}

h5::selection {
  background-color: var(--pink);
}

a::-moz-selection {
  background-color: var(--pink);
}

a::selection {
  background-color: var(--pink);
}

ul::-moz-selection {
  background-color: var(--pink);
}

ul::selection {
  background-color: var(--pink);
}

ol::-moz-selection {
  background-color: var(--pink);
}

ol::selection {
  background-color: var(--pink);
}

li::-moz-selection {
  background-color: var(--pink);
}

li::selection {
  background-color: var(--pink);
}

img::-moz-selection {
  background-color: var(--pink);
}

img::selection {
  background-color: var(--pink);
}

figcaption::-moz-selection {
  background-color: var(--pink);
}

figcaption::selection {
  background-color: var(--pink);
}

span::-moz-selection {
  background-color: var(--pink);
}

span::selection {
  background-color: var(--pink);
}

/* cursor */
.selected-border {
  border: 1px solid var(--black);
}

.border {
  border: 1px solid var(--white);
}

.white-button {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  background-color: var(--offwhite);
}

.red-button {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  background-color: var(--red);
}

.blue-button {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  background-color: var(--blue);
}

.yellow-button {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  background-color: var(--black);
}

.pink-button {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  background-color: var(--pink);
}

.green-button {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  background-color: var(--green);
}

iframe {
  border-radius: 8px;
  border: black 1px solid;
  margin-bottom: 0.625rem;
}

.img-multiply {
  mix-blend-mode: multiply;
}