:root {
  --title-font: "alpina-thin", serif;
  --h4-font: "alpina-regular", serif;
  --text-font:"neue-haas-unica", sans-serif;
}

@font-face {
  font-family: "alpina-regular";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/GT-Alpina-Condensed-Regular-Trial.eot");
  src: url("../fonts/GT-Alpina-Condensed-Regular-Trial.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Alpina-Condensed-Regular-Trial.woff2") format("woff2"), url("../fonts/GT-Alpina-Condensed-Regular-Trial.woff") format("woff"), url("../fonts/GT-Alpina-Condensed-Regular-Trial.ttf") format("truetype");
}
@font-face {
  font-family: "alpina-thin";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/GT-Alpina-Condensed-Thin-Trial.eot");
  src: url("../fonts/GT-Alpina-Condensed-Thin-Trial.eot?#iefix") format("embedded-opentype"), url("../fonts/GT-Alpina-Condensed-Thin-Trial.woff2") format("woff2"), url("../fonts/GT-Alpina-Condensed-Thin-Trial.woff") format("woff"), url("../fonts/GT-Alpina-Condensed-Thin-Trial.ttf") format("truetype");
}
:root {
  --white: #ffffff;
  --offwhite: #ECECEA;
  --black: #14161C;
  --blue: #0000EE;
  --green: #0D8A4E;
  --highlight: #EBFC72;
  --yellow: #FFF620;
  --red: #FF5C00;
  --pink: #FC72CA;
}

.light {
  background-color: var(--offwhite);
}
.light h1 {
  color: var(--black);
}
.light h2 {
  color: var(--black);
}
.light h3 {
  color: var(--black);
}
.light h4 {
  color: var(--black);
}
.light p {
  color: var(--black);
}
.light a {
  color: var(--black);
}
.light .project-link:hover,
.light .project-link:focus,
.light .title-link:hover,
.light .title-link:focus {
  color: var(--blue);
}
.light .nav-link {
  color: var(--blue);
}
.light figcaption {
  color: var(--black);
}

.dark {
  background-color: var(--black);
}
.dark h1 {
  color: var(--offwhite);
}
.dark h2 {
  color: var(--offwhite);
}
.dark h3 {
  color: var(--offwhite);
}
.dark h4 {
  color: var(--offwhite);
}
.dark p {
  color: var(--offwhite);
}
.dark a {
  color: var(--offwhite);
}
.dark .project-link:hover,
.dark .project-link:focus,
.dark .title-link:hover,
.dark .title-link:focus {
  color: var(--red);
}
.dark .nav-link {
  color: var(--red);
}
.dark figcaption {
  color: var(--offwhite);
}

.red {
  background-color: var(--black);
}
.red h1 {
  color: var(--offwhite);
}
.red h2 {
  color: var(--offwhite);
}
.red h3 {
  color: var(--offwhite);
}
.red h4 {
  color: var(--offwhite);
}
.red p {
  color: var(--offwhite);
}
.red a {
  color: var(--offwhite);
}
.red .project-link:hover,
.red .project-link:focus,
.red .title-link:hover,
.red .title-link:focus {
  color: var(--red);
}
.red .nav-link {
  color: var(--red);
}
.red figcaption {
  color: var(--offwhite);
}

.green {
  background-color: var(--green);
}
.green h1 {
  color: var(--offwhite);
}
.green h2 {
  color: var(--offwhite);
}
.green h3 {
  color: var(--offwhite);
}
.green h4 {
  color: var(--offwhite);
}
.green p {
  color: var(--offwhite);
}
.green a {
  color: var(--offwhite);
}
.green .project-link:hover,
.green .project-link:focus,
.green .title-link:hover,
.green .title-link:focus {
  color: var(--red);
}
.green .nav-link {
  color: var(--red);
}
.green figcaption {
  color: var(--offwhite);
}

.blue {
  background-color: var(--blue);
}
.blue h1 {
  color: var(--offwhite);
}
.blue h2 {
  color: var(--offwhite);
}
.blue h3 {
  color: var(--offwhite);
}
.blue h4 {
  color: var(--offwhite);
}
.blue p {
  color: var(--offwhite);
}
.blue a {
  color: var(--offwhite);
}
.blue .project-link:hover,
.blue .project-link:focus,
.blue .title-link:hover,
.blue .title-link:focus {
  color: var(--red);
}
.blue .nav-link {
  color: var(--red);
}
.blue figcaption {
  color: var(--offwhite);
}

.yellow {
  background-color: var(--yellow);
}
.yellow h1 {
  color: var(--black);
}
.yellow h2 {
  color: var(--black);
}
.yellow h3 {
  color: var(--black);
}
.yellow h4 {
  color: var(--black);
}
.yellow p {
  color: var(--black);
}
.yellow a {
  color: var(--black);
}
.yellow .project-link:hover,
.yellow .project-link:focus,
.yellow .title-link:hover,
.yellow .title-link:focus {
  color: var(--blue);
}
.yellow .nav-link {
  color: var(--blue);
}
.yellow figcaption {
  color: var(--black);
}

.pink {
  background-color: var(--pink);
}
.pink h1 {
  color: var(--offwhite);
}
.pink h2 {
  color: var(--offwhite);
}
.pink h3 {
  color: var(--offwhite);
}
.pink h4 {
  color: var(--offwhite);
}
.pink p {
  color: var(--offwhite);
}
.pink a {
  color: var(--offwhite);
}
.pink .project-link:hover,
.pink .project-link:focus,
.pink .title-link:hover,
.pink .title-link:focus {
  color: var(--blue);
}
.pink .nav-link {
  color: var(--blue);
}
.pink figcaption {
  color: var(--offwhite);
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "alpina-thin", serif;
  font-size: 4rem;
  letter-spacing: -5px;
  font-weight: normal;
  font-style: normal;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: -0.5px;
  line-height: 100%;
  font-style: normal;
}

h3 {
  margin: 0;
  padding: 0;
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  line-height: 100%;
  font-style: normal;
}

h4 {
  margin: 0;
  padding: 0;
  font-family: "neue-haas-unica", sans-serif;
  font-size: 1rem;
  letter-spacing: -1px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.p-smallest {
  margin: 0;
  padding: 0;
  font-family: "neue-haas-unica", sans-serif;
  font-size: 0.75rem;
  letter-spacing: -0.25px;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
}

.p-small {
  margin: 0;
  padding: 0;
  font-family: "neue-haas-unica", sans-serif;
  font-size: 1rem;
  letter-spacing: -0.25px;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
}

.bold-p-small {
  margin: 0;
  padding: 0;
  font-family: "neue-haas-unica", sans-serif;
  font-size: 1.125rem;
  letter-spacing: -0.25px;
  line-height: 130%;
  font-weight: 600;
  font-style: normal;
}

.p-large {
  margin: 0;
  padding: 0;
  font-family: "neue-haas-unica", sans-serif;
  font-size: 2rem;
  letter-spacing: -0.5px;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
}

.p-medium {
  margin: 0;
  padding: 0;
  font-family: "neue-haas-unica", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.25px;
  line-height: 130%;
  font-style: normal;
}

li {
  margin: 0;
  padding: 0;
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: -0.1px;
  line-height: 120%;
  font-style: normal;
}

strong {
  margin: 0;
  padding: 0;
  font-family: "alpina-thin", serif;
  font-size: 2.5rem;
  letter-spacing: -1.5px;
  font-style: normal;
  font-weight: 200;
  text-decoration: none;
}

em {
  margin: 0;
  padding: 0;
  font-family: "neue-haas-unica", sans-serif;
  font-size: 2rem;
  letter-spacing: -0.5px;
  line-height: 130%;
  font-weight: 600;
  font-style: normal;
}

/* navigation links */
.nav-link {
  margin: 0;
  padding: 0;
  font-family: "neue-haas-unica", sans-serif;
  font-size: 1rem;
  letter-spacing: -1px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: var(--blue);
}

/* project titles */
.project-link {
  margin: 0;
  padding: 0;
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  line-height: 100%;
  font-style: normal;
  text-decoration: none;
  color: var(--black);
  -webkit-transition: color ease-in-out 0.3s;
  transition: color ease-in-out 0.3s;
}

/* site title link */
.title-link {
  margin: 0;
  padding: 0;
  font-family: "alpina-thin", serif;
  font-size: 2rem;
  letter-spacing: -2px;
  font-weight: normal;
  font-style: normal;
  color: var(--black);
  text-decoration: none;
  -webkit-transition: color ease-in-out 0.3s;
  transition: color ease-in-out 0.3s;
}

.project-link:hover,
.project-link:focus,
.title-link:hover,
.title-link:focus {
  color: var(--blue);
}

.scrolldown-icon {
  width: 2.5rem;
}

/* project preview images */
/* hidden when not hovering */
.preview-img {
  position: absolute;
  display: none;
  width: 6.25rem;
}

#betweendreams-img {
  width: 12.5rem;
}

#mytakeaway-img {
  width: 9.375rem;
}

#viavia-img {
  width: 10rem;
}

#dc-img {
  width: 9.375rem;
}

/* highlight colour */
/* selection colour */
p::-moz-selection {
  background-color: var(--pink);
}
p::selection {
  background-color: var(--pink);
}

em::-moz-selection {
  background-color: var(--pink);
}

em::selection {
  background-color: var(--pink);
}

strong::-moz-selection {
  background-color: var(--pink);
}

strong::selection {
  background-color: var(--pink);
}

code::-moz-selection {
  background-color: var(--pink);
}

code::selection {
  background-color: var(--pink);
}

h1::-moz-selection {
  background-color: var(--pink);
}

h1::selection {
  background-color: var(--pink);
}

h2::-moz-selection {
  background-color: var(--pink);
}

h2::selection {
  background-color: var(--pink);
}

h3::-moz-selection {
  background-color: var(--pink);
}

h3::selection {
  background-color: var(--pink);
}

h4::-moz-selection {
  background-color: var(--pink);
}

h4::selection {
  background-color: var(--pink);
}

h5::-moz-selection {
  background-color: var(--pink);
}

h5::selection {
  background-color: var(--pink);
}

a::-moz-selection {
  background-color: var(--pink);
}

a::selection {
  background-color: var(--pink);
}

ul::-moz-selection {
  background-color: var(--pink);
}

ul::selection {
  background-color: var(--pink);
}

ol::-moz-selection {
  background-color: var(--pink);
}

ol::selection {
  background-color: var(--pink);
}

li::-moz-selection {
  background-color: var(--pink);
}

li::selection {
  background-color: var(--pink);
}

img::-moz-selection {
  background-color: var(--pink);
}

img::selection {
  background-color: var(--pink);
}

figcaption::-moz-selection {
  background-color: var(--pink);
}

figcaption::selection {
  background-color: var(--pink);
}

span::-moz-selection {
  background-color: var(--pink);
}

span::selection {
  background-color: var(--pink);
}

/* cursor */
#cursor {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 100%;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  -webkit-transform: translate(calc(-50% + 15px), -50%);
          transform: translate(calc(-50% + 15px), -50%);
  mix-blend-mode: saturation;
  background-color: var(--yellow);
  z-index: 500;
}

/* making cursor bigger when it hovers link or clicks*/
.selected-border {
  border: 1px solid var(--black);
}

.border {
  border: 1px solid var(--white);
}

.white-button {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  background-color: var(--offwhite);
}

.red-button {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  background-color: var(--red);
}

.blue-button {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  background-color: var(--blue);
}

.yellow-button {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  background-color: var(--yellow);
}

.pink-button {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  background-color: var(--pink);
}

.green-button {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 100%;
  background-color: var(--green);
}