@import 'util/functions.scss';
@import 'fonts.scss';
@import 'colours.scss';

body {
    background-color: #ECECEA;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: "alpina-thin", serif;
    // font-size: rem(48);
    font-size: rem(64);
    // letter-spacing: -4px;
    letter-spacing: -5px;
    font-weight: normal;
    font-style: normal;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 400;
    font-size: rem(16);
    letter-spacing: -0.5px;
    line-height: 100%;
    font-style: normal;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 500;
    font-size: rem(24);
    letter-spacing: -0.5px;
    line-height: 100%;
    font-style: normal;
}

h4 {
    margin: 0;
    padding: 0;
    // font-family: "alpina-regular", serif;
    font-family: "neue-haas-unica", sans-serif;
    font-size: rem(16);
    letter-spacing: -1px;
    // font-size: rem(26);
    // letter-spacing: -1.5px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.p-smallest {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-size: rem(12);
    letter-spacing: -0.25px;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
}

.p-small {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-size: rem(16);
    letter-spacing: -0.25px;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
}

.p-large {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-size: rem(32);
    letter-spacing: -0.5px;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
}

strong {
    margin: 0;
    padding: 0;
    font-family: "alpina-thin", serif;
    font-size: rem(40);
    letter-spacing: -1.5px;
    font-style: normal;
    font-weight: 200;
    text-decoration: none;
}

em {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-size: rem(32);
    letter-spacing: -0.5px;
    line-height: 130%;
    font-weight: 600;
    font-style: normal;
}

// /* navigation links */
// .nav-link{
//     margin:0;
//     padding:0;
//     font-family: "alpina-regular", serif;
//     font-size: rem(26);
//     letter-spacing: -2px;
//     font-style: normal;
//     font-weight: 200;
//     text-decoration: none;
//     color: #0000EE;
//     transition: color ease-in-out 0.3s;
// }

// /* project titles */
// .project-link{
//     margin:0;
//     padding:0;
//     font-family: "neue-haas-unica", sans-serif;
//     font-weight: 500;
//     font-size: rem(24);
//     letter-spacing: -0.5px;
//     line-height:100%;
//     font-style: normal;
//     text-decoration:none;
//     color: var(--black);
//     transition: color ease-in-out 0.3s;
// }

/* navigation links */
.nav-link {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-size: rem(16);
    letter-spacing: -1px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #0000EE;
    transition: color ease-in-out 0.3s;
}

/* project titles */
.project-link {
    margin: 0;
    padding: 0;
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 500;
    font-size: rem(24);
    letter-spacing: -0.5px;
    line-height: 100%;
    font-style: normal;
    text-decoration: none;
    color: var(--black);
    transition: color ease-in-out 0.3s;
}

/* site title link */
.title-link {
    margin: 0;
    padding: 0;
    font-family: "alpina-thin", serif;
    font-size: rem(32);
    letter-spacing: -2px;
    font-weight: normal;
    font-style: normal;
    color: var(--black);
    text-decoration: none;
    transition: color ease-in-out 0.3s;
}

.project-link:hover,
.project-link:focus,
.title-link:hover,
.title-link:focus {
    // color: #4E55EF;
    color: #0000EE;
}

.project-link:visited,
.nav-link:visited {
    // color: #AF77F5;
    // color: #551A8B;
}

.scrolldown-icon {
    width: rem(40);
}

/* highlight colour */
/* selection colour */

@mixin background-colour {
    // background-color: var(--background-color);
    background-color: #EBFC72;
}

p::selection {
    @include background-colour;
}

em::selection {
    @include background-colour;
}

strong::selection {
    @include background-colour;
}

code::selection {
    @include background-colour;
}

h1::selection {
    @include background-colour;
}

h2::selection {
    @include background-colour;
}

h3::selection {
    @include background-colour;
}

h4::selection {
    @include background-colour;
}

h5::selection {
    @include background-colour;
}

a::selection {
    @include background-colour;
}

ul::selection {
    @include background-colour;
}

ol::selection {
    @include background-colour;
}

li::selection {
    @include background-colour;
}

img::selection {
    @include background-colour;
}

figcaption::selection {
    @include background-colour;
}