@import 'util/functions.scss';
@import 'fonts.scss';
@import 'colours.scss';

// themes

.title-bar {
    position: fixed;
    width: 65vw;
    height: rem(55);
    top: 0;
    left: 50vw;
    // background-color: var(--offwhite);
    transform: translate(-50%, 0);
}

.light {

    //on home page
    .title-bar {
        background-color: var(--offwhite);
    }

    //on project page
    .header-bar {
        background-color: var(--offwhite);
    }

    background-color: var(--offwhite);

    h1 {
        color: var(--black);
    }

    h2 {
        color: var(--black);
    }

    h3 {
        color: var(--black);
    }

    h4 {
        color: var(--black);
    }

    p {
        color: var(--black);
    }

    li {
        color: var(--black);
    }

    a {
        color: var(--black);
    }

    // .project-link:hover,
    // .project-link:focus,
    // .title-link:hover,
    // .title-link:focus {
    //     color: var(--blue);
    // }

    .project-card:hover,
    .project-card:focus,
    .title-card:hover,
    .title-card:focus {
        a {
            color: var(--blue);
        }

        p {
            color: var(--blue);
        }

        cursor: pointer;
    }

    .nav-link {
        color: var(--blue);
    }

    figcaption {
        color: var(--black);
    }
}

.dark {
    .title-bar {
        background-color: var(--black);
    }

    //on project page
    .header-bar {
        background-color: var(--black);
    }

    background-color: var(--black);

    h1 {
        color: var(--offwhite);
    }

    h2 {
        color: var(--offwhite);
    }

    h3 {
        color: var(--offwhite);
    }

    h4 {
        color: var(--offwhite);
    }

    p {
        color: var(--offwhite);
    }

    li {
        color: var(--offwhite);
    }

    a {
        color: var(--offwhite);
    }

    // .project-link:hover,
    // .project-link:focus,
    // .title-link:hover,
    // .title-link:focus {
    //     color: var(--red);
    // }

    .project-card:hover,
    .project-card:focus,
    .title-card:hover,
    .title-card:focus {
        a {
            color: var(--red);
        }

        p {
            color: var(--red);
        }

        cursor: pointer;
    }

    .nav-link {
        color: var(--red);
    }

    figcaption {
        color: var(--offwhite);
    }
}

.red {
    .title-bar {
        background-color: var(--red);
    }

    //on project page
    .header-bar {
        background-color: var(--red);
    }

    background-color: var(--red);

    h1 {
        color: var(--offwhite);
    }

    h2 {
        color: var(--offwhite);
    }

    h3 {
        color: var(--offwhite);
    }

    h4 {
        color: var(--offwhite);
    }

    li {
        color: var(--offwhite);
    }

    p {
        color: var(--offwhite);
    }

    a {
        color: var(--offwhite);
    }

    // .project-link:hover,
    // .project-link:focus,
    // .title-link:hover,
    // .title-link:focus {
    //     color: var(--blue);
    // }
    .project-card:hover,
    .project-card:focus,
    .title-card:hover,
    .title-card:focus {
        a {
            color: var(--blue);
        }

        p {
            color: var(--blue);
        }

        cursor: pointer;
    }

    .nav-link {
        color: var(--blue);
    }

    figcaption {
        color: var(--offwhite);
    }
}

.green {
    .title-bar {
        background-color: var(--green);
    }

    //on project page
    .header-bar {
        background-color: var(--green);
    }

    background-color: var(--green);

    h1 {
        color: var(--offwhite);
    }

    h2 {
        color: var(--offwhite);
    }

    h3 {
        color: var(--offwhite);
    }

    h4 {
        color: var(--offwhite);
    }

    li {
        color: var(--offwhite);
    }

    p {
        color: var(--offwhite);
    }

    a {
        color: var(--offwhite);
    }

    // .project-link:hover,
    // .project-link:focus,
    // .title-link:hover,
    // .title-link:focus {
    //     color: var(--red);
    // }

    .project-card:hover,
    .project-card:focus,
    .title-card:hover,
    .title-card:focus {
        a {
            color: var(--red);
        }

        p {
            color: var(--red);
        }

        cursor: pointer;
    }

    .nav-link {
        color: var(--red);
    }

    figcaption {
        color: var(--offwhite);
    }
}

.blue {
    .title-bar {
        background-color: var(--blue);
    }

    //on project page
    .header-bar {
        background-color: var(--blue);
    }

    background-color: var(--blue);

    h1 {
        color: var(--offwhite);
    }

    h2 {
        color: var(--offwhite);
    }

    h3 {
        color: var(--offwhite);
    }

    h4 {
        color: var(--offwhite);
    }

    li {
        color: var(--offwhite);
    }

    p {
        color: var(--offwhite);
    }

    a {
        color: var(--offwhite);
    }

    // .project-link:hover,
    // .project-link:focus,
    // .title-link:hover,
    // .title-link:focus {
    //     color: var(--red);
    // }

    .project-card:hover,
    .project-card:focus,
    .title-card:hover,
    .title-card:focus {
        a {
            color: var(--red);
        }

        p {
            color: var(--red);
        }

        cursor: pointer;
    }

    .nav-link {
        color: var(--red);
    }

    figcaption {
        color: var(--offwhite);
    }
}

.yellow {
    .title-bar {
        background-color: var(--black);
    }

    //on project page
    .header-bar {
        background-color: var(--black);
    }

    background-color: var(--black);

    h1 {
        color: var(--offwhite);
    }

    h2 {
        color: var(--offwhite);
    }

    h3 {
        color: var(--offwhite);
    }

    h4 {
        color: var(--offwhite);
    }

    li {
        color: var(--offwhite);
    }

    p {
        color: var(--offwhite);
    }

    a {
        color: var(--offwhite);
    }

    // .project-link:hover,
    // .project-link:focus,
    // .title-link:hover,
    // .title-link:focus {
    //     color: var(--red);
    // }

    .project-card:hover,
    .project-card:focus,
    .title-card:hover,
    .title-card:focus {
        a {
            color: var(--red);
        }

        p {
            color: var(--red);
        }

        cursor: pointer;
    }

    .nav-link {
        color: var(--red);
    }

    figcaption {
        color: var(--offwhite);
    }
}

// .yellow {
//     background-color: var(--black);

//     h1 {
//         color: var(--black);
//     }

//     h2 {
//         color: var(--black);
//     }

//     h3 {
//         color: var(--black);
//     }

//     h4 {
//         color: var(--black);
//     }

//     p {
//         color: var(--black);
//     }

//     a {
//         color: var(--black);
//     }

//     .project-link:hover,
//     .project-link:focus,
//     .title-link:hover,
//     .title-link:focus {
//         color: var(--blue);
//     }
//     .nav-link {
//         color: var(--blue);
//     }
//     figcaption{
//         color: var(--black);
//     }
// }

.pink {
    .title-bar {
        background-color: var(--pink);
    }

    //on project page
    .header-bar {
        background-color: var(--pink);
    }

    background-color: var(--pink);

    h1 {
        color: var(--offwhite);
    }

    h2 {
        color: var(--offwhite);
    }

    h3 {
        color: var(--offwhite);
    }

    h4 {
        color: var(--offwhite);
    }

    li {
        color: var(--offwhite);
    }

    p {
        color: var(--offwhite);
    }

    a {
        color: var(--offwhite);
    }

    // .project-link:hover,
    // .project-link:focus,
    // .title-link:hover,
    // .title-link:focus {
    //     color: var(--blue);
    // }
    .project-card:hover,
    .project-card:focus,
    .title-card:hover,
    .title-card:focus {
        a {
            color: var(--blue);
        }

        p {
            color: var(--blue);
        }

        cursor: pointer;
    }

    .nav-link {
        color: var(--blue);
    }

    figcaption {
        color: var(--offwhite);
    }
}


// body {
//     background-color: var(--offwhite);
//     cursor: url('img/cursor.png'), auto;
// }

#scrolling-text {
    margin: 0;
    padding: 0;
    font-family: "alpina-thin", serif;
    // font-size: rem(48);
    font-size: rem(55);
    // letter-spacing: -4px;
    letter-spacing: -5px;
    font-weight: normal;
    font-style: normal;
}

b{
    font-weight: 600;
}

h1 {
    // margin: 0;
    // padding: 0;
    // font-family: "alpina-thin", serif;
    // font-size: rem(55);
    // letter-spacing: rem(-3.25);
    // font-weight: normal;
    // font-style: normal;

    margin: 0;
    padding: 0;
    font-family: "sohne-buch", sans-serif;
    font-weight: 400;
    font-size: rem(24);
    letter-spacing: -0.5px;
    line-height: 100%;
    font-style: normal;
}

h2 {
    margin: 0;
    padding: 0;
    font-family: "sohne-buch", sans-serif;
    font-weight: 400;
    font-size: rem(16);
    line-height: 100%;
    font-style: normal;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: "sohne-buch", sans-serif;
    font-weight: 500;
    font-size: rem(20);
    line-height: 150%;
    font-style: normal;
}

h4 {
    margin: 0;
    padding: 0;
    font-family: "sohne-buch", sans-serif;
    font-size: rem(16);
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: 150%;
}

.p-smallest {
    margin: 0;
    padding: 0;
    font-family: "sohne-leicht", sans-serif;
    font-size: rem(12);
    line-height: 150%;
    font-weight: 300;
    letter-spacing: 0px;
    font-style: normal;
}

.p-small {
    margin: 0;
    padding: 0;
    font-family: "sohne-leicht", sans-serif;
    font-size: rem(16);
    line-height: 150%;
    font-weight: 300;
    font-style: normal;
    opacity:70%;
    margin-bottom:0.5rem;
}

.bold-p-small {
    margin: 0;
    padding: 0;
    font-family: "sohne-kraftig", sans-serif;
    font-size: rem(16);
    line-height: 150%;
    font-weight: 500;
    font-style: bold;
}

.p-large {
    margin: 0;
    padding: 0;
    font-family: "sohne-leicht", sans-serif;
    font-size: rem(32);
    line-height: 130%;
    // font-weight: 300;
    font-style: normal;
    //lowkey I like 400 better
    font-weight: 400;
}

.p-medium {
    margin: 0;
    padding: 0;
    font-family: "sohne-leicht", sans-serif;
    font-size: rem(16);
    font-weight: 300;
    line-height: 130%;
    font-style: normal;
    opacity:70%;
}

li {
    margin: 0;
    padding: 0;
    font-family: "sohne-leicht", sans-serif;
    font-size: rem(16);
    line-height: 150%;
    font-weight: 300;
    font-style: normal;
    margin-bottom:0.5rem;
    opacity:70%;
}

strong {
    margin: 0;
    padding: 0;
    font-family: "alpina-thin", serif;
    font-size: rem(40);
    letter-spacing: -1.5px;
    font-style: normal;
    font-weight: 200;
    text-decoration: none;
}

em {
    margin: 0;
    padding: 0;
    font-family: "sohne-buch", sans-serif;
    font-size: rem(32);
    letter-spacing: -0.5px;
    line-height: 130%;
    font-weight: 500;
    font-style: normal;
}

// /* navigation links */
// .nav-link{
//     margin:0;
//     padding:0;
//     font-family: "alpina-regular", serif;
//     font-size: rem(26);
//     letter-spacing: -2px;
//     font-style: normal;
//     font-weight: 200;
//     text-decoration: none;
//     color: #0000EE;
//     transition: color ease-in-out 0.3s;
// }

// /* project titles */
// .project-link{
//     margin:0;
//     padding:0;
//     font-family: "neue-haas-unica", sans-serif;
//     font-weight: 500;
//     font-size: rem(24);
//     letter-spacing: -0.5px;
//     line-height:100%;
//     font-style: normal;
//     text-decoration:none;
//     color: var(--black);
//     transition: color ease-in-out 0.3s;
// }

/* navigation links */
.nav-link {
    margin: 0;
    padding: 0;
    font-family: "sohne-buch", sans-serif;
    font-size: rem(16);
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: var(--blue);
    // transition: color ease-in-out 0.3s;
    // transition: color ease-in-out 0.15s;
}

/* project titles */
.project-link {
    // margin: 0;
    // padding: 0;
    // font-family: "neue-haas-unica", sans-serif;
    // font-weight: 500;
    // font-size: rem(24);
    // letter-spacing: -0.5px;
    // line-height: 100%;
    // font-style: normal;
    // text-decoration: none;
    // color: var(--black);

    margin: 0;
    padding: 0;
    font-family: "sohne-buch", sans-serif;
    font-size: rem(20);
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: var(--blue);



    // transition: color ease-in-out 0.3s;
}

/* site title link */
.title-link {
    margin: 0;
    padding: 0;
    font-family: "alpina-thin", serif;
    font-size: rem(32);
    letter-spacing: -2px;
    font-weight: normal;
    font-style: normal;
    color: var(--black);
    text-decoration: none;
    // transition: color ease-in-out 0.3s;
}

// .project-link:hover,
// .project-link:focus,
// .title-link:hover,
// .title-link:focus {
//     color: var(--blue);
// }

// .project-card:hover,
// .project-card:focus,
// .title-card:hover,
// .title-card:focus {
//     a{
//         color: var(--blue);
//     }
//     p{
//         color: var(--blue);
//     }
//     cursor: pointer;
// }

//purple when visited already
// .project-link:visited,
// .nav-link:visited {
//     // color: #AF77F5;
//     color: var(--purple);
// }

.scrolldown-icon {
    width: rem(40);
}

/* project preview images */

/* hidden when not hovering */
.preview-img {
    position: absolute;
    display: none;
    width: rem(100);
}

#betweendreams-img {
    width: rem(200);
}

#mytakeaway-img {
    width: rem(140);
}

#viavia-img {
    width: rem(200);
}

#dc-img {
    width: rem(150);
}

#mbintp-img {
    width: rem(100);
}

#this-img {
    width: rem(130);
}

#sapresearch-img {
    width: rem(150);
}

#sapua-img {
    width: rem(150);
}

#olivia-img {
    width: rem(150);
}


/* highlight colour */
/* selection colour */

@mixin background-colour {
    // background-color: var(--background-color);
    background-color: var(--pink);
}

p::selection {
    @include background-colour;
}

em::selection {
    @include background-colour;
}

strong::selection {
    @include background-colour;
}

code::selection {
    @include background-colour;
}

h1::selection {
    @include background-colour;
}

h2::selection {
    @include background-colour;
}

h3::selection {
    @include background-colour;
}

h4::selection {
    @include background-colour;
}

h5::selection {
    @include background-colour;
}

a::selection {
    @include background-colour;
}

ul::selection {
    @include background-colour;
}

ol::selection {
    @include background-colour;
}

li::selection {
    @include background-colour;
}

img::selection {
    @include background-colour;
}

figcaption::selection {
    @include background-colour;
}

span::selection {
    @include background-colour;
}



/* cursor */
// #cursor {
//     width: rem(30);
//     height: rem(30);
//     border-radius: 100%;
//     transition: all 200ms ease-out;
//     position: fixed;
//     pointer-events: none;
//     left: 0;
//     top: 0;
//     transform: translate(calc(-50% + 15px), -50%);
//     mix-blend-mode: saturation;
//     background-color: var(--yellow);
//     z-index: 500;
// }


.selected-border {
    border: 1px solid var(--black);
}

.border {
    border: 1px solid var(--white);
}

.white-button {
    width: rem(10);
    height: rem(10);
    border-radius: 100%;
    background-color: var(--offwhite);
}

.red-button {
    width: rem(10);
    height: rem(10);
    border-radius: 100%;
    background-color: var(--red);
}

.blue-button {
    width: rem(10);
    height: rem(10);
    border-radius: 100%;
    background-color: var(--blue);
}

.yellow-button {
    width: rem(10);
    height: rem(10);
    border-radius: 100%;
    background-color: var(--black);
}

.pink-button {
    width: rem(10);
    height: rem(10);
    border-radius: 100%;
    background-color: var(--pink);
}

.green-button {
    width: rem(10);
    height: rem(10);
    border-radius: 100%;
    background-color: var(--green);
}

iframe {
    border-radius: 8px;
    border: black 1px solid;
    margin-bottom: rem(10);
}




// img {
//     margin-bottom: rem(5);
// }

//for white bg diagram images to have consistent sizing
.img-multiply{
    mix-blend-mode: multiply;
}